footer.container {
  background-color: black;
  color: white;
  display: block;
  width: 100%;
  text-align: center;
  padding: 5px;
}

NavItem {
  color: white;
}

footer.copyright {
  text-align: left;
}

footer.rights {
  text-align: right;
}
