.footer {
  background-color: black;
  color: white;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;

  @media (max-width: 640px) {
    display: block;
  }

  .logo {
    font-family: "Playfair Display", serif;
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
  }

  .logos {
    color: white;
    font-size: 20px;
    justify-content: left;
    padding-right: 15px;
  }

  .paragraph {
    width: 175px;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .info-links-contact {
    // position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    // color: red;
    // font-size: bold;

    .information {
      display: block;
      color: white;
      font-size: bold;
      text-align: center;
      margin: 15px;
      justify-content: space-between;
    }

    .quick-links {
      display: block;
      font-size: bold;
      text-align: center;
      margin: 15px;
      justify-content: space-between;
    }

    .contact-us,
    .icons {
      display: block;
      color: white;
      font-size: bold;
      size: 20px;
      text-align: center;
      margin: 15px;
      justify-content: space-between;
    }
  }
}

.copyright {
  font-weight: bold;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.rights {
  font-weight: bold;
  float: right;
  padding-top: 10px;
  padding-bottom: 10px;
}

hr {
  color: red;
  border-color: red;
}
